@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Source+Code+Pro:ital,wght@0,300;0,400;0,800;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --pink: #FF579F;
  --light-green: #BBDFC5;
  --green: #BAB700;
  --other-green: #60935D;
  --dark: #14342B;
  --lighter-dark: #205143;
  --snow: snow;

  --header-font: 'Courgette';
  --main-font: 'Source Code', monospace;
}

body {
  background-color: var(--snow);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: var(--header-font);
  background-color: var(--green);
}

.header h1 {
  font-size: 48px;
  justify-self: flex-start;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav li {
  list-style: none;
  animation: spin linear 10s infinite;
}

.nav a {
  text-decoration: none;
  color: var(--dark);
  font-family: var(--main-font);
}

.nav button {
  text-decoration: none;
  background: none;
  border: none;
  color: var(--dark);
  font-family: var(--main-font);
  font-size: larger;
}

.quizzes {
  border: 1px solid black;
}

.quiz-list {
  width: 45%;
  padding: 20px;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 7px;
  box-shadow: 4px 4px 10px var(--dark);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lighter-dark);
  border-radius: 7px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 4px 4px 10px var(--dark);
}

form input, textarea {
  width: 50%;
  margin: 20px;
  background-color: var(--snow);
  border: none;
  padding: 5px;
  border-radius: 7px;
}

form input {
  padding: 25px;
  font-size: 40px;
  font-family: "Anton";
  text-align: center;
  background: none;
  color: white;
}
form select {
  border: none;
  padding: 5px;
  border-radius: 7px;
}

form select:hover {
  cursor: pointer;
}

form button {
  margin: 30px;
  padding: 5px 15px 5px;
  border: 1px solid var(--pink);
  border-radius: 7px;
  background-color: var(--pink);
  color: white;
}

form button:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--pink);
  color: var(--pink);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.quiz-list button {
  font-size: 20px;
  border: none;
  margin: 5px;
  padding: 5px 7px 5px;
  border-radius: 7px;
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--dark);
}

.quiz-list button:hover {
  background-color: var(--dark);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

button.new-quiz-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: var(--pink);
  color: var(--light-green);
  font-size: 29px;
  align-self: flex-end;
  justify-self: baseline;
}

.results-guy {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: var(--light-green);
  margin: 20px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 4px 4px 10px var(--dark);
}

button.delete-rslt-btn {
  border: none;
  background-color: transparent;
  color: var(--light-green);
  font-size: 34px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-bottom: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
