@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Source+Code+Pro:ital,wght@0,300;0,400;0,800;1,300&display=swap');

:root {
  --pink: #FF579F;
  --light-green: #BBDFC5;
  --green: #BAB700;
  --other-green: #60935D;
  --dark: #14342B;

  --header-font: 'Courgette';
  --main-font: 'Source Code', monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: var(--header-font);
  background-color: var(--green);
}

.header h1 {
  font-size: 48px;
  justify-self: flex-start;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav li {
  list-style: none;
  animation: spin linear 10s infinite;
}

.nav a {
  text-decoration: none;
  color: var(--dark);
  font-family: var(--main-font);
}

.quiz-list {
  width: 30%;
  margin: 20px;
  animation: spin linear 10s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
